### Задание 1

На складе лежат разные фрукты в разном количестве. Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [77]:
fruits_store = dict()
while True:
    fruit_name = input('Name of the fruit: ')
    if not fruit_name:
        break
    fruit_amount = int(input('Amount in pieces: '))

    # Добавить в словарь если пользователя с именем `name` ранее не было.
    # Если вы хотите не только добавлять, но и изменять age у уже существующих `name`,
    # удалите две строки ниже.
    isName = fruits_store.get(fruit_name, None)
    if isName is None:
        fruits_store[fruit_name] = fruit_amount

print(fruits_store)

def amount_of_fruits(data: dict) -> int:
    sum = 0
    for i in data:
        sum += data[i]
    return sum

amount_of_fruits(fruits_store)

Name of the fruit: apple
Amount in pieces: 10
Name of the fruit: pam
Amount in pieces: 33
Name of the fruit: orange
Amount in pieces: 12
Name of the fruit:
{'apple': 10, 'pam': 33, 'orange': 12}

55

## Задание 2

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
 [100, 125, -90, 345, 655, -1, 0, 200]

In [97]:
cost_of_ad =  [100, 125, -90, 345, 655, -1, 0, 200]

cost_of_ad_2 =  [100, -125, -90, 345, 655, -1, 0, 200]

def delete_nums(data: dict):
    new_list_cost_of_ad = []
    for i in cost_of_ad:
        if i >= 0:
            new_list_cost_of_ad.append(i)

1084

In [98]:
delete_nums(cost_of_ad)
sum(new_list_cost_of_ad)

1425

In [99]:
delete_nums(cost_of_ad_2)
sum(cost_of_ad_2)

1084

## Условие 3.1:
Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### Задание 3.1:
3.1 Найдите, какая выручка у компании в ноябре. Используйте list comprehensions

In [125]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
sum_of_purchases = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

sum(i[1] for i in zip(date, sum_of_purchases) if '-11-' in i[0])

25098

### Задание 3.2:
3.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [141]:
import pandas as pd
import datetime
 
date_frame = pd.DataFrame()
date_frame['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date]
date_frame['Sum of purchases'] = sum_of_purchases
date_frame['Months'] = pd.DatetimeIndex(date_frame['Date']).month
date_frame.groupby('Months').sum()

        Sum of purchases
Months
9                  25647
10                 28645
11                 25098
12                 45452